.section {
    background-color: rgb( 219, 135, 135);
}

.section2 {
    background-color: rgb(128, 155, 197);
}

.section3 {
    background-color: rgb(124, 64, 116);
}

.section4 {
    background-color: rgb(237, 205, 100);
}

.section5 {
    background-color: rgb();
}